@font-face {
    font-family: 'Fujiwara B';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fujiwara B';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBBlack.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fujiwara B';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBBlackItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fujiwara B';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBLightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fujiwara B';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fujiwara B';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fujiwara B';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBMediumItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fujiwara B';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fujiwara B Regular';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fujiwara B';
    src: url('https/raw.githubusercontent.com/moneydewstudio/fujiofont/blob/main/FujiwaraBRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

